---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Layout/Container.astro';
import Heading from '../components/UI/Heading.astro';
import Paragraph from '../components/UI/Paragraph.astro';
import CallToAction from '../components/UI/CallToAction.astro';
---

<Layout
  title="About - Jude Tejada"
  description="Jude Tejada is a front-end web developer focusing on creating better user experience and building modern web applications."
>
  <Container>
    <header class="pb-20 pt-24 md:pt-32">
      <Heading as="h1">Hi There, I'm Jude Tejada</Heading>
      <div class="grid grid-cols-1 mt-10 lg:grid-cols-2">
        <div class="lg:pr-28 w-full">
          <Paragraph>
            Hey There, I'm a frontend engineer who loves to create products
            that make a difference in people's lives.
          </Paragraph>

          <br />
          <br />
          <Paragraph>
            I've been building web applications for several years now, and
            I'm passionate about crafting digital experiences that provide
            real value to users.
          </Paragraph>
        </div>
        <div class="w-full pt-10 lg:pt-0">
          <Paragraph>
            When I'm not coding, I dive deep into User Interface and User
            Experience design. This helps me create products that not only
            look great but also solve real problems for users. I believe
            great products combine beautiful design with meaningful
            functionality.
          </Paragraph>
        </div>
      </div>
    </header>

    <section class="grid grid-cols-1 pb-20 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <Heading as="h2" extraClasses="mb-6">
          Tech Stack
        </Heading>
        <Paragraph>
          When working on a project I tailor my approach to the problem that
          I'm trying to solve, as one tool does not work for everybody. I
          always strive to achieve the best results for who I'm currently
          working.
        </Paragraph>
        <div class="mt-4">
          <Paragraph>
            I focus on building approaches which scale to help the growth of
            the product. Here's my go to stack when I'm building a project,
            I'm always open to adding more or changing as long as it helps
            the product requirement.
          </Paragraph>
        </div>
      </div>

      <img
        src="/images/stack.png"
        alt="Tech stack for building front-end applications"
        class="w-full h-auto rounded-md"
        loading="lazy"
      />
    </section>

    <div class="max-w-2xl mx-auto">
      <CallToAction />
    </div>
  </Container>
</Layout>