---
interface Props {
  href: string;
  extraClasses?: string;
}

const { href, extraClasses = '' } = Astro.props;
---

<a href={href} class="inline-block">
  <button
    class={`px-6 py-3 bg-black text-white rounded-full font-medium transition-colors duration-200 ease-in-out hover:bg-gray-800 ${extraClasses}`}
  >
    <slot />
  </button>
</a>