---
interface Props {
  href: string;
  extraClasses?: string;
}

const { href, extraClasses = '' } = Astro.props;
---

<a
  href={href}
  class={`text-blue-500 uppercase inline-block font-bold ease-in duration-100 border-b-2 border-transparent hover:border-blue-500 focus:border-blue-500 focus-visible:border-blue-500 ${extraClasses}`}
>
  <slot />
</a>