---
interface Props {
  href: string;
  extraClasses?: string;
}

const { href, extraClasses = '' } = Astro.props;
---

<a
  href={href}
  class={`text-gray-900 uppercase inline-block font-medium text-sm tracking-wide border-b border-transparent hover:border-gray-900 transition-colors duration-200 ${extraClasses}`}
>
  <slot />
</a>