---
import Heading from './Heading.astro';
import Paragraph from './Paragraph.astro';
import ButtonPrimary from './ButtonPrimary.astro';
---

<section>
  <Heading as="h2" extraClasses="mb-6">
    Let's Work together
  </Heading>
  <div class="w-full">
    <Paragraph>
      Feel free to reach out if you're looking for a developer, have a
      question, or just want to connect. I would love to grab a coffee with
      you.
    </Paragraph>
  </div>

  <ButtonPrimary href="/contact" extraClasses="mt-6">
    Get in touch
  </ButtonPrimary>
</section>