---
interface Props {
  to: string;
  extraClasses?: string;
}

const { to, extraClasses = '' } = Astro.props;
---

<a
  href={to}
  class={`font-light focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 hover:text-blue-500 ${extraClasses}`}
>
  <slot />
</a>